@import '../../styles/variables.scss';

.logo{
  font-size: 40px; //logo

  padding-bottom: 32px;
  &:hover{
    cursor: pointer;
  }
}


.form-item{
  margin-bottom: 14px;
}
.form-label{
  font-weight: 600;
}