@import '../../styles/variables.scss';

.container{
  height: 58px;
  border-bottom: solid 1px #ccc;
}
.logo{
  &:hover{
    cursor: pointer;
  }
}
.button{
  font-weight: 600;
  button{
    height: 40px;
    a{
      font-weight: 700;
    }
  }
  .text-btn{
    &:hover{
      color: $primary-color;
      background-color: inherit;
    }
  }
  .primary-btn{
    background-color: $primary-color;
    &:hover{
      background-color: $hover-primary-color;
    }
  }
}
