// Palette colors
$primary-color: #196CFF;
$hover-primary-color: rgb(19, 95, 157);
$default-color: rgb(219, 220, 225);
$hover-default-color: rgb(175, 176, 180);
$background-color: #eff2f9;
$active-color: rgb(20, 86, 204);
$dark-sider-color: #191919;
$light-sider-color: #faf9f5;
$dark-color: #191919;
$medium-color: #848484;
$light-hover-color: #f8f8f8;
$light-color: #e8e6dd;
$extra-light-color: #faf9f5;
$placeholder-color: #bdbdbd;
$error-color: #fb2828;
$error-background-color: #fed4d4;
$warning-color: #f28929;
$success-color: #1cbf71;
$success-background-color: #d2f2e3;
$inactive-text-color: $medium-color;
$disable-icon-color: #8FDEFF;